body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(20% - 20px); /* Adjust width based on the number of cards per row */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Ensure the image does not exceed its container's width */
  max-height: 200px; /* Set the maximum height for the image */
  border-radius: 5px;
}

.card h3 {
  margin-top: 10px;
}

.card p {
  color: #666;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.hidden {
  display: none;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
























































































/* Fuckkkk How do you do that brother? --->> First flag "encryptia-ctf{AJSk-"    You get /point1 Nice */